.img-logo{
    width:35%;
    margin-left: 95px;
}
.container-fluid{
    color: black;
}
.row {
    margin-top: 100px;
}
.btn {
    width: 100%;
}
.btn button {
    width: 100%;
    border-radius: 5px;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 6px;
    cursor: pointer;
}
.btn i img{
    margin-bottom: 13px;
}
.card {
    box-shadow: 0px 2px 5px black;
    transition: transform 0.5s;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-15px);
}
.personal-data {
    width:100%;
    height: 900px;
    text-align: center;
    margin:10px;
    padding:10px;
    background-color: #e6d6ba;

}

footer {
    .d-flex {
        background-color: #c7b7ab;
        margin:0px;
    }
    .conteiner-strips {
        display: inline;
        width: 100%;
        margin:0px;
        padding: 0px;
    
    }
}

.coffee-beans {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    height:500px;

}